.about-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(236, 207, 173);
  overflow: hidden;
  margin: 0;
}

/*Heading Photo and Welcome text*/
header{
  position: relative;
  z-index: 1;
  background: transparent;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: "Adelia";
  color: rgb(219, 191, 158);
  font-size: 20vw;
  text-align: center;

  /*Debugging*/
  /*border: 4px solid black;
  padding: 20px;*/
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 2;

  /*Dimentions of the photo*/
  width: 35vw;
  max-width: 2560px;
  min-width: 600px;
  height: auto;
  border-radius: 50%;
}

/* screen size testing */
/*
@media (max-width: 1920px) {
  .avatar {
    width: 30vw;
    transform: translate(-50%, -40%);
    border-radius: 50%;
  }   
}
*/

/* Intro Blurb Formatting */
.leftText {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(20%, -70%);
  font-family: "Caviar", sans-serif;
  color: rgb(73, 60, 39);
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  white-space: pre-wrap;
  max-width: 500px;
  z-index: 3;
}

.rightText {
  position: absolute;
  top: 32%;
  right: 3%;
  transform: translate(10%, -20%);
  font-family: "Caviar", sans-serif;
  color: rgb(73, 60, 39);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.2;
  max-width: 700px;
  z-index: 3;
}