.welcome {
  font-family: "Snow";
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.head-line {
  font-family: "Mochi";
  font-size: 20px;
  text-align: center;
}