@font-face {
  font-family: 'Ochi';
  src: url('../public/fonts/Ochi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Snow';
  src: url('../public/fonts/Magical Snow.ttf') format('truetype');
}


@font-face {
  font-family: 'Mochi';
  src: url('../public/fonts/Mochibun-Regular.ttf') format('truetype');
}

body, html {
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(176, 224, 174);
}
